<!DOCTYPE html>
<html>
<head>
    <title>Post Deleted</title>
</head>
<body>
    <h1>Post Deleted</h1>
    <p>The post has been successfully deleted.</p>
    <a href="/posts">
        <button>Back to Posts</button>
    </a>
</body>
</html>
